body{
    background-color: white;
    font-size: large;
    
}
.resume{
    width: 700px;
    margin: 50px auto;
    background-color: rgb(223, 221, 221);
    border-style: groove;
    border-radius: 1%;
    border-color: #000;
    padding-left: 2%;

}
button{
    color: #000;
    background-color: white;
}

.hidden {
    display: none;
  }
  